*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
h1{
    position: fixed;
    top: 0;
    text-align: center;
    color: #08a3a0;
    background: linear-gradient(0deg, transparent, #08a3a0);
    width: 100%;
    padding: 20px 0;
    user-select: none;
}

body{
    background: linear-gradient(180deg, #72FAFF, #CEFDFF);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    background: #F7F7F7;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    width: 50%;
}

.container .titleGroup{
    text-align: center;
}

.container .titleGroup h2{
    color: #08a3a0;
    user-select: none;
}

.container .titleGroup p{
    user-select: none;
}

.message{
    font-size: medium;
    height: 1.2em;
    color: rgb(255, 0, 166);
    margin: 0.5em;
    user-select: none;
}

.inputGroup{
    margin: 10px;
}

.inputGroup input{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #9a9a9a;
    padding-left: 1.5em;
    font-size: 15px;
    margin-right: 2em;
}

.inputGroup label{
    font-size: 15px;
}

.inputGroup input:focus{
    background: transparent;
    outline: none;
    border-bottom: 1px solid rgb(255, 0, 166);
}

.submitButton{
    width: 100%;
    text-align: center;
}

.submitButton button{
    width: 100%;
    border: none;
    border-radius: 10px;
    background: #CEFDFF;
    color: #08a3a0;
    font-size: 15px;
    padding: .25em;
    cursor: pointer;
    font-weight: 600;
    margin: 10px 0;
}

.submitButton button:hover{
    transition: 0.3s;
    background: #5bcace;
    letter-spacing: 1.5px;
    color: #078280;
    border: 1px solid #078280;
}

.links{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.links p{
    user-select: none;
}

.links a, .errorPage a, .GameMasterLink{
    margin: 0 1em;
    text-decoration: none;
    color: #08a3a0;
    background: transparent;
    font-weight: 500;
}

.links a:hover, .errorPage a:hover{
    transition: 0.5s;
    color: #078280;
    text-decoration: underline;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.GameMasterLink:hover{
    transition: 0.5s;
    color: #078280;
    text-decoration: underline;
    letter-spacing: 1px;
    font-weight: 600;
}

.errorPage{
    background: linear-gradient(180deg, #f00, #ffa3a3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.errorPage p{
    margin-bottom: 15px;
    color: #ffa3a3;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
}

.homePage{
    display: block;
}

.homePageHead{
    position: fixed;
    top: 0;
    background: #CEFDFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.homePage .userInfo{
    display: flex;
    align-items: center;
}

.homePage .identity{
    display: flex;
    align-items: center;
    margin: 20px 10px 20px 50px;
}

.homePage .identity img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.homePage .identity h2{
    color: #08a3a0;
    text-transform: capitalize;
    margin-left: 20px;
    font-size: 40px;
    user-select: none;
}

.homePage .userInfo .scoreBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F7F7F7;
    border-radius: 20px;
    width: 100px;
}

.homePage .userInfo .scoreBar .score{
    margin-left: 20px;
}

.homePage .userInfo .scoreBar img{
    height: 40px;
    width: 40px;
}

.homePageHead a{
    width: 100px;
    border-radius: 20px;
    background: #08a3a0;
    color: #CEFDFF;
    font-size: 15px;
    text-decoration: none;
    padding: .5em;
    font-weight: 600;
    margin: 0 50px 0 20px;
    text-align: center;
}

.homePageHead a:hover{
    transition: 0.3s;
    background: #078280;
    letter-spacing: 1.5px;
    color: #5bcace;
    border: 1px solid #5bcace;
}

.homePage .activities{
    margin: 250px auto 0;
    width: 80%;
    background-color: #F7F7F7;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.homePage .activities thead th{
    color: #078280;
    font-size: 40px;
    text-align: left;
    border-bottom: 3px solid;
}

.homePage .activities .name{
    width: 50%;
}

.homePage .activities .cost{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.homePage .activities .cost img{
    height: 20px;
    width: 20px;
}

.homePage .activities .Btn a{
    border-radius: 20px;
    background: #08a3a0;
    color: #CEFDFF;
    font-size: 15px;
    text-decoration: none;
    padding: .5em;
    font-weight: 600;
    margin-right: 20px;
    text-align: center;
}

.homePage .activities .Btn a:hover{
    transition: 0.3s;
    background: #078280;
    letter-spacing: 1.5px;
    color: #5bcace;
    border: 1px solid #5bcace;
}

.homePage .activities .Btn{
    width: 20px;
    text-align: right;
}

.homePage .activities .Btn button{
    border: none;
    border-radius: 20px;
    background: #08a3a0;
    color: #CEFDFF;
    font-size: 15px;
    padding: .5em;
    font-weight: 600;
    margin-right: 20px;
    text-align: center;
}

.homePage .activities .Btn button:hover{
    transition: 0.3s;
    background: #078280;
    letter-spacing: 1.5px;
    color: #5bcace;
    border: 1px solid #5bcace;
}

.cookieBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e1e1e1;
    border-radius: 20px;
    width: 100px;
    /*position: absolute;
    right: 5px;
    top: 5px;*/
    padding: 5px;
    margin-left: auto;
    font-size: 15px;
    font-weight: 500;
}

.cookieBar .cookies{
    margin-left: 20px;
    color: #000;
}

.cookieBar img{
    height: 30px;
    width: 30px;
}

.actContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}